body {
  font-family: Poppins, sans-serif;
  color: white;

  width: 1275px;
  height: 710px;
  overflow: hidden;
}

.main {
  position: relative;
  background: linear-gradient(45deg, #004096, #012463);
  padding: 72px 166px 63px;
}

.shapes {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.illustration {
  position: absolute;
  top: 152px;
  right: 71px;
  width: 511px;
  height: 619px;
}

/* HEADER */
header {
  position: relative;
  width: 100%;
  height: 28px;
  margin-bottom: 117px;
}

.bg-navbar {
  position: absolute;
  width: 726px;
  height: 56px;
  fill: #000e28;
  left: -992px; /* 726 (width) + 166 (padding)*/
  top: -14px;
}

.bg-navbar.active {
  animation: navbarAppear 1s 0.5s cubic-bezier(0.13, 0.86, 0.51, 1.01) forwards; /* delays 50% of menu animation */
}
.bg-navbar.backwards {
  animation: navbarAppear 1s cubic-bezier(0.13, 0.86, 0.51, 1.01) reverse; /* delays 50% of menu animation */
}

@keyframes navbarAppear {
  0% {
    transform: scale(0.5, 1.4);
  }

  100% {
    transform: scale(1, 1);
    left: -166px;
  }
}

navbar {
  position: relative;
  z-index: 1;
  width: 100%;
}

.menu-icon {
  position: relative;
  display: inline-block;
  left: 0;
  width: 26px;
  height: 18px;
  margin-right: 36px;
  cursor: pointer;
  transition: left 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-icon.left {
  left: -146px;
}

.pulse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 50px;
}

.pulse > svg {
  border-radius: 50%;
}

.pulse > svg > circle {
  fill: none;
  stroke: white;
  transform: scale(0);
  opacity: 0;
  transform-origin: 50% 50%;
  stroke-width: 100%;
}

.animated-pulse {
  animation: pulse 0.3s linear;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }

  20% {
    stroke-width: 100%;
  }

  100% {
    transform: scale(1);
    opacity: 0.5;
    stroke-width: 50px;
  }
}

.logo {
  display: inline-block;
  color: white;
  font-size: 26px;
  font-weight: bold;
}

.logo-point {
  position: relative;
  left: -5px;
  color: #40bef8;
}

.navigation {
  display: inline-block;
  margin-left: 102px;
}

.adjust-top {
  position: relative;
  top: -2px;
}

.link {
  font-family: PoppinsMedium, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;

  opacity: 0;
  top: 0;
  visibility: hidden;
  position: relative;
  transition: all 0.3s;
}

.link:nth-child(2),
.link:nth-child(3) {
  left: -12px;
}

.link + .link {
  margin-left: 35px;
}

.link.active {
  visibility: visible;
  left: 0;
  opacity: 0.36;
}

.link.active.active-link,
.link:hover {
  opacity: 1;
}

.link.active.moving:nth-child(2) {
  transition-delay: 0.1s;
}

.link.active.moving:nth-child(3) {
  transition-delay: 0.4s;
}

.link.active.dissapear {
  top: -12px;
  opacity: 0;
}

.close-icon {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 26px;
  height: 26px;
  line-height: 26px;
  margin-left: 56px;
  color: #40bef8;
  font-size: 16px;
  cursor: pointer;
  transform: scale(0);

  transition: transform 0.3s;
  transform-origin: 50% 50%;
}

.close-icon.active {
  transform: scale(1);
}

.envelope {
  float: right;
  width: 28px;
  height: 28px;
  cursor: pointer;

  transition: transform 0.3s;
}

.envelope:hover {
  transform: scale(1.2);
}

/* CONTENT */
h1 {
  font-size: 50px;
}

h1 + h1 {
  margin-top: 10px;
}

h4 {
  font-size: 20px;
  margin-top: 51px;
  margin-bottom: 50px;
}

.with-underline {
  display: inline-block;
  border-bottom: 17px solid #2f71b9;
  line-height: 16px;
}

.cta-button {
  width: 213px;
  height: 51px;
  font-size: 16px;
  text-transform: uppercase;
  color: inherit;
  background: #002a69;
  border: 1px solid transparent;
  margin-bottom: 82px;
  cursor: pointer;

  transition: background 0.3s, border-color 0.3s;
}

.cta-button:hover {
  background: none;
  border-color: white;
}

.tip > p {
  display: inline-block;
  line-height: 22px;
}

.light-bulb {
  display: inline-block;
  width: 41px;
  height: 56px;
  vertical-align: bottom;
  margin-right: 20px;
}

.dots {
  position: relative;
  left: -2px;
  letter-spacing: 1px;
}
