body {
  font-family: Poppins, sans-serif;
  color: white;

  width: 1275px;
  height: 710px;
  overflow: hidden;
}

.main {
  position: relative;
  background: linear-gradient(45deg, #004096, #012463);
  padding: 72px 166px 63px;
}

.shapes {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.illustration {
  position: absolute;
  top: 152px;
  right: 71px;
  width: 511px;
  height: 619px;
}

/* HEADER */
header {
  position: relative;
  width: 100%;
  height: 28px;
  margin-bottom: 117px;
}

.bg-navbar {
  position: absolute;
  width: 726px;
  height: 56px;
  fill: #000e28;
  left: -166px;
  top: -14px;
}

navbar {
  position: relative;
  z-index: 1;
  width: 100%;
}

.menu-icon {
  display: inline-block;
  width: 26px;
  height: 18px;
  margin-right: 36px;
  cursor: pointer;
}

.logo {
  display: inline-block;
  color: white;
  font-size: 26px;
  font-weight: bold;
}

.logo-point {
  position: relative;
  left: -5px;
  color: #40bef8;
}

.navigation {
  display: inline-block;
  margin-left: 102px;
}

.adjust-top {
  position: relative;
  top: -2px;
}

.link {
  font-family: PoppinsMedium, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  opacity: 0.36;
  letter-spacing: 2px;

  transition: opacity 0.3s;
}

.link + .link {
  margin-left: 35px;
}

.active-link,
.link:hover {
  opacity: 1;
}

.close-icon {
  width: 26px;
  height: 26px;
  margin-left: 56px;
  color: #40bef8;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.envelope {
  float: right;
  width: 28px;
  height: 28px;
  cursor: pointer;

  transition: transform 0.3s;
}

.envelope:hover {
  transform: scale(1.2);
}

/* CONTENT */
h1 {
  font-size: 50px;
}

h1 + h1 {
  margin-top: 10px;
}

h4 {
  font-size: 20px;
  margin-top: 51px;
  margin-bottom: 50px;
}

.with-underline {
  display: inline-block;
  border-bottom: 17px solid #2f71b9;
  line-height: 16px;
}

.cta-button {
  width: 213px;
  height: 51px;
  font-size: 16px;
  text-transform: uppercase;
  color: inherit;
  background: #002a69;
  border: 1px solid transparent;
  margin-bottom: 82px;
  cursor: pointer;

  transition: background 0.3s, border-color 0.3s;
}

.cta-button:hover {
  background: none;
  border-color: white;
}

.tip > p {
  display: inline-block;
  line-height: 22px;
}

.light-bulb {
  display: inline-block;
  width: 41px;
  height: 56px;
  vertical-align: bottom;
  margin-right: 20px;
}

.dots {
  position: relative;
  left: -2px;
  letter-spacing: 1px;
}

/* FONTS */
.thin {
  font-family: PoppinsThin, sans-serif;
}

.light {
  font-family: PoppinsLight, sans-serif;
}

.medium {
  font-family: PoppinsMedium, sans-serif;
}

.bold {
  font-family: PoppinsBold, sans-serif;
}

@font-face {
  font-family: PoppinsThin;
  src: url("../fonts/Poppins-Thin.ttf");
}

@font-face {
  font-family: PoppinsLight;
  src: url("../fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: PoppinsMedium;
  src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: PoppinsBold;
  src: url("../fonts/Poppins-Bold.ttf");
}
